<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd  
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


	<!-- CAUTION - don't forget context scanning. otherwise no service beans 
		will be available. You need too add xlmns:context, and xsi:schemaLocation -->

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:component-scan
		base-package="com.rk.service" />


	<!-- id - unique id in spring bean context implementor - actual class that 
		implements web service interface address - same as put in address in wsdl -->
	<!-- The jaxws:endpoint element creates an EndpointImpl under the covers .
	read more here - https://cwiki.apache.org/confluence/display/CXF20DOC/JAX-WS+Configuration
	--> 
	<jaxws:endpoint id="Calculator"
		implementor="com.rk.service.impl.CalculatorWS"
		address="/services/calculator" />

	<bean id="PrintInterceptorsAndMessageFormats" class="com.rk.jaxws.cxf.interceptor.in.PrintInterceptorsAndMessageFormats"/>
	<bean id="PreStreamInterceptor" class="com.rk.jaxws.cxf.interceptor.in.PreStreamInterceptor"/>
	<bean id="PreInvokeInterceptor" class="com.rk.jaxws.cxf.interceptor.in.PreInvokeInterceptor"/>
	
	<bean id="SetupInterceptor" class="com.rk.jaxws.cxf.interceptor.out.SetupInterceptor"/>

	<!-- Interceptors would be called as per apache cxf pipeline. below sequence does not matter -->
	<cxf:bus>
		<cxf:inInterceptors>
			<ref bean="PrintInterceptorsAndMessageFormats"/>
			<ref bean="PreStreamInterceptor"/>
			<ref bean="PreInvokeInterceptor"/>
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="SetupInterceptor" />
		</cxf:outInterceptors>
	</cxf:bus>

</beans>